 <ion-header>
 <!-- <ion-toolbar>
    <ion-title>editprofile</ion-title>
  </ion-toolbar>-->
</ion-header> 


<ion-content>
    <div>
        <ion-tabs color="light">
            <ion-tab-bar slot="top" color="medium">
                <ion-tab-button tab="main">
                    <ion-icon name="send"></ion-icon>
                    <ion-label>chats</ion-label>
                    <ion-badge>6</ion-badge>
                </ion-tab-button>
                <ion-tab-button tab="profile">
                    <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    <ion-label>profile</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="uploader">
                    <ion-icon ios="ios-people" md="md-people"></ion-icon>
                    <ion-label>active users</ion-label>
                
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </div>
 </ion-content>


<!-- <ion-footer >

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="feed"  (click)="profile()">
   
      <ion-label>
feed
      </ion-label>
 <ion-icon name="send"></ion-icon>
  
  </ion-tab-button>


<ion-tab-button tab="uploader"  (click)="uploader()">
   
      <ion-label>
    uploader
      </ion-label>
      <ion-icon name="send">
    </ion-icon>
  </ion-tab-button>

<ion-tab-button tab="profile"  (click)="feed()">
  
      <ion-label>
profile
      </ion-label>
      <ion-icon name="send">
    </ion-icon>
  </ion-tab-button>
</ion-tab-bar>


</ion-footer> -->